body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 12px;
}

header {
    text-align: center;
    font-size: 50px;
}

span {
    color: red;
}

#mainTable {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    table-layout: auto;
}

.nutColumn {
    /*border: 1px black solid;*/
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    table-layout: fixed;
    width: 16.6%;

}

#veggie {
    background: radial-gradient(#C9EA9C, #85C133);
}

#kosten {
    background: radial-gradient(#6EA59A, #248673);
}

#fett {
    background: radial-gradient(#FFCBAA, #D27338);
}

#khydrate {
    background: radial-gradient(#FFE0AA, #D29938);
}

#protein {
    background: radial-gradient(#72AA99, #258B6C);
}

#energie {
    background: radial-gradient(#7CBB93, #289952);
}

#speiseplan, #tagebuch {
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

h2, h3, h5 {
    margin: 0;
    opacity: 70%;
}

h5 {
    opacity: 50%;
}

h1 {
   margin-bottom: 5px;
    margin-top: 0;
}
p{
    margin: 0;
}

li {
    margin-bottom: 5px;
}

ul {
    list-style: none    ;
}

input {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: cadetblue;
}



.midColumn {
    padding-bottom: 0;
    margin: 0;
}
a {
    color: black;
}


a:hover {
    opacity: 70%;
}

label {
    font-size: 15px;
}

.tagebuchItemContainer {
    display: flex;
    margin-bottom: 10px;

}
.tagebuchItemContainer div {
    flex-wrap: nowrap;
    padding: 5px;
}

.delete {
    vertical-align: center;
}

img {
    height: 30px;
}

img:hover {
    cursor: pointer;
    opacity: 50%;
}

#tagebuchListe li {
    background: radial-gradient(#FFFFFF, #d0d5d8);
    border-radius: 5px;
    padding: 10px;
}

#tagebuchListe {
    padding: 0;
}

 .selectionSection {
    border: 1px black solid;
     border-radius: 5px;
}



#speiseplanForm_Container {
    height: 100%;
}


#speiseplanForm_Container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

#speiseplanForm_Container select {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

#speiseplanForm_Container table {
    margin-bottom: 10px;
}

#speiseplanForm_Container input {

}

#selectTable ul {
    padding: 0;
}
#speiseplan {

}