body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 12px;
}

#topRow {
}


table, tr, td {
    border: 3px red solid;
}
table {
    width: 100%;
    height: 100%;
    table-layout: auto;
}

.nutColumn {
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    table-layout: fixed;
    width: 16.6%;
}

#speiseplan, #tagebuch {
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
}

h2, h3, h5 {
    margin: 0;
}

h5 {
    opacity: 50%;
}

p{
    margin: 0;
}

li {
    margin-bottom: 5px;
}

ul {
    list-style: none    ;
}